.outer_div{
  display: flex;
  justify-content: space-around;
}

.info_header{
  text-align: center;
  margin-bottom: 4cqh;
}

.video_box {
  width: 400px;
  height: 300px;
}

.camera_container {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eef6f8;
  z-index: 0;
}

.camera_stream {
  width: 100%;
  max-width: 640px;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
}

@media (max-width: 600px) {

  .outer_div{
    display: column;
    justify-content: center;
  }

  .container {
    flex-direction: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    height: auto;
    padding: 1rem;
  }

  .no_video_box{
    position: inherit;
    margin-left: 50px;
  }

  .info_header{
    font-size: 40px;
    font-weight: 400;
  }

}

